html {
	background: #0f0f0f;
}

#image_section {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	padding: 0px;
	margin: 0px;
	max-width: 100%;
	background: #0d0d0d;
}

#popup_image_section {
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	padding: 0px;
	margin: 0px;
	max-width: 100%;
	background: #0d0d0dbb;
}

.popup_image_controls {
	position: fixed;
	right: 0%;
	top: 0;
	display: flex;
	flex-direction: row-reverse;
	z-index: 1;
}

.popup_image_control {
	transition-duration: 0.1s;
	margin: 10%;
	color: #ffffffbb;
	font-size: 5vh;
	transform: scale(0.8, 0.8);
	cursor: pointer;
}

.popup_image_control:hover {
	color: #ffffff;
	transform: scale(1, 1);
}

a.view_prev_image {
	cursor: pointer;
	font-size: 125px;
	font-weight: 100;
	color: #ffffff99;
	transform: scale(1, 1.25);
	background: #0d0d0d99;
	user-select: none;
	min-height: 100vh;
}

.view_prev_image {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	background: #0d0d0d99;
	color: white;
	max-width: 7.5%;
	min-width: 7.5%;
	max-height: 100vh;
	user-select: none;
}

#image_container {
	display: flex;
	justify-content: flex-start;
	flex-direction: column;
	width: 85%;
}

a.view_next_image {
	cursor: pointer;
	font-size: 125px;
	font-weight: 100;
	background: #0d0d0d99;
	color: #ffffff99;
	transform: scale(1, 1.25);
	user-select: none;
	min-height: 100vh;
}

.view_next_image {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	background: #0d0d0d99;
	color: white;
	max-width: 7.5%;
	min-width: 7.5%;
	max-height: 100vh;
	user-select: none;
}

.view_image_container {
	height: 100vh;
	min-height: 100vh;
}

.view_image_preview {
	display: flex;
	flex: 0 0 auto;
	background: #111111bb;
	max-height: 100vh;
	min-height: 100vh;
}

.view_image_preview_image {
	max-height: calc(100vh - 4%);
	padding: 2%;
	object-fit: contain;
}

.view_image_info_div {
	width: 100%;
	padding: 2%;
	color: #ffffff;
}

.view_image_info {
	font-size: 16px;
}

.view_image_info_desc {
	font-size: 20px;
}

.view_image_title {
	font-size: 30px;
	font-weight: 700;
}
