.complex_form {
	border-radius: 4px;
	/* border: 2px solid #548ca5; */
	display: flex;
	flex-direction: column;
	padding: 10px;
	box-shadow: 0 0 10px 2px #548ca5;
}

.complex_form .form_element {
	margin: 5px 10px 5px 10px;
	font-size: 20px;
	border: 0px;
	border-bottom: 2px solid #548ca5;
	background: transparent;
	color: #FFFFFF;
}

.complex_form .form_file_browse {
	margin: 5px 10px 5px 10px;
	font-size: 20px;
}

.complex_form .form_submit {
	margin: 5px 10px 5px 10px;
	padding: 10px;
	font-size: 20px;
	border: 0px;
}
