html {
	overflow: -moz-scrollbars-vertical;
}

body {
	background: radial-gradient(#ffe6cc, #ffffff);
	font-family: Helvetica, sans-serif;
	font-size: 14px;
	color: #111111;
	text-align: left;
	max-width: 85%;
	margin: auto;
}

header {
	display: flex;
	justify-content: flex-end;
	margin-top: 36px;
	height: 64px;
	padding-bottom: 15px;
}

header #title {
	color: #111111;
	width: 100%;
	font-size: 50px;
	text-align: center;
	text-decoration: none;
}

footer {
	margin-top: 20px;
	text-align: center;
}
